@{
    ViewBag.Title = "Index";
}
<div id="wrapper">	
	
	<div class="menu-fixer"></div>

	<section class="centered-wrapper">
	
	<div class="formPageLabel">
		<h5 class="portfolio-title float-left">Give us some informmation</h5>
	</div>
        @if (ViewBag.SubCatName == "Carpenters")
        {
	        @Html.Partial("~/views/category/_carpainterRepair.cshtml")
        }

         @if (ViewBag.SubCatName == "Keymakers")
        {
	        @Html.Partial("~/views/category/_keymaker.cshtml")
        }
	</section>
	
	
	
</div><!--end wrapper-->

