@{
    ViewBag.Title = "Home Page";
}



<div id="wrapper">
    <!-- HELLO SECTION -->

    <section id="hello">

        <!--  menu-fixer class for the header. Should always be present when header is set to "solid-header". Delete it when you use "transparent-header" or "no-header" classes for the header  -->
        <div class="menu-fixer"></div>

        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner" style="height: 542px; max-height: none; background-image: url(/images/slides/slide11.jpg)">

                <div id="searchCategory">
                    <h1 class="team-text" style="color: white">Search for Professionals..</h1>
                    <form class="search-form" method="get" action="">
                        <input type="text" style="background-color: white;" placeholder="Carpenter, AC repair, Tailor..." id="searchTextBox" name="s" value="" />
                        <button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- SERVICES SECTION -->
    <section class="parallax-section" id="services">
        <div class="lighter-overlay">

            <section class="centered-wrapper">

                <div class="double-space"></div>

                <h1 class="section-title">Services</h1>

                <div class="space"></div>

                <ul class="homepage-services box fadeInUp">
                    <li class="dt-service-wrapper percent-one-fifth">
                        <div class="dt-service-item">
                            <i class="fa flaticon-leaf32"></i>
                            <h3 class="service-title">Beauty and wellness</h3>
                        </div>
                        <div class="dt-service-hover">
                            <ul class="list scrollbar beautyWellNess" style="width: auto; height: 150px; overflow: auto" id="style-3">
                        </ul>
                        </div>
                    </li>

                    <li class="dt-service-wrapper percent-one-fifth">
                        <div class="dt-service-item">
                            <i class="fa flaticon-dwelling1"></i>
                            <h3 class="service-title">Home support</h3>
                        </div>
                        <div class="dt-service-hover">
                            <ul class="list scrollbar homeSupport" style="width: auto; height: 150px; overflow: auto" id="style-3">
                                @*<li class="borderlist">
                                    <h3>name1</h3>
                                </li>
                                <li class="borderlist">
                                    <h3>name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3>name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3 >name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3 >name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3 >name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3 >name2</h3>
                                </li>
                                <li class="borderlist">
                                    <h3 >name2</h3>
                                </li>*@
                            </ul>
                            @*<i class="fa flaticon-dwelling1"></i>
                            <h3>Home support</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>*@
                        </div>
                    </li>

                    <li class="dt-service-wrapper percent-one-fifth">
                        <div class="dt-service-item">
                            <i class="fa flaticon-send4"></i>
                            <h3 class="service-title">Education</h3>
                        </div>
                        <div class="dt-service-hover">
                            <ul class="list scrollbar education" style="width: auto; height: 150px; overflow: auto" id="style-3">
                                </ul>
                        </div>
                    </li>

                    <li class="dt-service-wrapper percent-one-fifth">
                        <div class="dt-service-item">
                            <i class="fa flaticon-handshake1"></i>
                            <h3 class="service-title">Personal support</h3>
                        </div>
                        <div class="dt-service-hover">
                            <ul class="list scrollbar personalSupport" style="width: auto; height: 150px; overflow: auto" id="style-3">
                                </ul>
                        </div>
                    </li>

                    <li class="dt-service-wrapper percent-one-fifth column-last">
                        <div class="dt-service-item">
                            <i class="fa flaticon-couple17"></i>
                            <h3 class="service-title">Events</h3>
                        </div>
                        <div class="dt-service-hover">
                            <ul class="list scrollbar events" style="width: auto; height: 150px; overflow: auto" id="style-3">
                                </ul>
                        </div>
                    </li>
                </ul>

                <div class="double-space"></div>

            </section>
        </div>
    </section>

    <!-- ABOUT SECTION -->

    <section id="about" class="box fadeInDown">

        <div class="double-space"></div>

        <div class="centered-wrapper">

            <h1 class="section-title">Hire verified professionals at the right price</h1>

            <div class="space"></div>

            <div class="percent-one-third box fadeInDown">
                <h2 class="bold-style">PROFESSIONALS FOR ALL YOUR NEEDS.</h2>
                <p>Select the professional you are looking for and send us the details of your needs.</p>
            </div>

            <div class="percent-one-third box fadeInDown">
                <h2 class="bold-style">VERIFIED PROFESSIONALS AT THE BEST PRICES.</h2>
                <p>Receive profiles and quotes from verified professionals. Choose the professional best suited for the job.</p>
            </div>

            <div class="percent-one-third column-last box fadeInDown">
                <h2 class="bold-style">SERVICE GUARANTEE.</h2>
                <p>Sit back and relax. The professional will be available at the time specified by you.</p>
            </div>

            <div class="separator"></div>

            <!--<div class="percent-two-third box fadeInDown">
				<h2 class="bold-style">ABOUT US</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas diam sapien, auctor sed blandit nec, adipiscing eget elit. Duis tempor elementum quam consequat condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Praesent volutpat nisl fringilla felis sodales elementum. Ut commodo arcu massa.</p>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
			</div>-->

            <!--<div class="percent-one-third column-last">
				<div class="skillbar clearfix" data-percent="65%">
					<div class="skillbar-title"><span>HTML5</span></div>
					<div class="skillbar-bar"></div>
					<div class="skill-bar-percent">65%</div>
				</div>	
				
				<div class="skillbar clearfix" data-percent="45%">
					<div class="skillbar-title"><span>Illustrator</span></div>
					<div class="skillbar-bar"></div>
					<div class="skill-bar-percent">45%</div>
				</div>		

				<div class="skillbar clearfix" data-percent="95%">
					<div class="skillbar-title"><span>Photoshop</span></div>
					<div class="skillbar-bar"></div>
					<div class="skill-bar-percent">95%</div>
				</div>		
			</div>-->

            <!--<div class="double-space"></div>-->
        </div>

    </section>

    <!-- TWITTER SECTION -->
    <section class="parallax-section" id="twitter">
        <div class="darker-overlay">
            <section class="centered-wrapper">
                <div class="double-space"></div>

                <h1 class="section-title"><i class="fa fa-twitter"></i></h1>
                <div class="half-space"></div>

                <div class="twitter-carousel box fadeInDown">
                    <!-- very important -->
                    <div class="tweet"></div>
                </div>
                <!--end twitter-carousel-->

                <div class="double-space"></div>
            </section>
        </div>

    </section>


    <!-- TESTIMONIALS SECTION -->
    <section id="testimonials" class="clear">
        <section class="centered-wrapper">
            <div class="double-space"></div>

            <h1 class="section-title">Testimonials</h1>
            <div class="space"></div>

            <div class="testimonials-carousel">
                <div id="owl-testimonials" class="owl-carousel box fadeInDown">
                    <div class="testimonial-item">
                        <p></p>
                        <p><span class="testimonial-name"></span></p>
                    </div>
                    <div class="testimonial-item">
                        <p></p>
                        <p><span class="testimonial-name"></span></p>
                    </div>


                </div>
            </div>
            <!--end carousel-->
            <div class="double-space"></div>
        </section>
    </section>

    <!-- WORK SECTION -->
    <section id="work" style="display: none">

        <h1 class="section-title">Some Fun Facts</h1>

        <div class="space"></div>

        <div class="counter-wrapper centered-wrapper box fadeInUp">
            <div class="counter-item">
                <span class="counter-number" data-from="1" data-to="134" data-speed="2000">134</span>
                <span class="counter-text">Cups of Coffee</span>
            </div>

            <div class="counter-item">
                <span class="counter-number" data-from="1" data-to="75" data-speed="2000">75</span>
                <span class="counter-text">Projects Delivered</span>
            </div>

            <div class="counter-item">
                <span class="counter-number" data-from="1" data-to="28" data-speed="2000">48</span>
                <span class="counter-text">Satisfied Clients</span>
            </div>

            <div class="counter-item">
                <span class="counter-number" data-from="1" data-to="12" data-speed="2000">12</span>
                <span class="counter-text">Winning Awards</span>
            </div>
        </div>

        <div class="clear"></div>
        <div class="double-space"></div>

    </section>

    <!-- CONTACT SECTION -->
    <section class="parallax-section" id="contact">
        <div class="darker-overlay">
            <section class="centered-wrapper">
                <div class="double-space"></div>

                <h1 class="section-title">COME AND WORK WITH US</h1>
                <div class="space"></div>
                <div class="percent-one-half box fadeInLeft">
                    <h3 class="title-bg"><span>Contact Info</span></h3>
                    <ul class="contact-info">
                        <li><i class="fa fa-map-marker"></i>Amphitheatre Parkway, Mountain View, CA 94043</li>
                        <li><i class="fa fa-phone"></i>+321 123 456 7</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:">johndoe@ipsum.com</a></li>
                        <li><i class="fa fa-globe"></i><a href="#">www.website.com</a></li>
                    </ul>
                </div>

                <div class="percent-one-half column-last box fadeInRight">
                    <div id="contactform">
                        <div id="message" style="display: none">
                            <p id="dialogText">Please enter all the fields</p>
                        </div>

                        <fieldset class="percent-one-half">
                            <input id="name" type="text" name="name" placeholder="Name" />
                        </fieldset>
                        <fieldset class="percent-one-half column-last">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </fieldset>
                        <fieldset class="clean">
                            <textarea name="comments" id="comments" placeholder="Message"></textarea>
                        </fieldset>
                        <fieldset>
                            <input type="submit" name="send" value="SEND" id="submit" class="button black" />
                        </fieldset>

                    </div>
                    <!--end contactform-->
                </div>

                <div class="double-space"></div>
            </section>
        </div>
    </section>

</div>
